<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<form method="get">
    <input id="q" name="q" type="text" placeholder="search package...">
</form>

{% if packages %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Version</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Maintainer</th>
    </tr>
  </thead>
  <tbody>
   {% for package in packages %}
    <tr>
      <td>{{ package.title }}</td>
      <td>{{ package.version }}</td>
      <td>{{ package.description }}</td>
      <td>{{ package.author_name }}</td>
      <td>{{ package.author_email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <p>No packages found.</p>
{% endif %}

<div class="pagination">
    <span>
        <a href="?page=1">&laquo; first</a>
        {% if page_num > 1 %}
            <a href="?page={{ previous_page }}">previous</a>
        {% endif %}

        <span>
            Page {{ page_num }} of {{ total_pages_num }}.
        </span>

        {% if page_num < total_pages_num %}
            <a href="?page={{ next_page }}">next</a>
        {% endif %}
        <a href="?page={{ total_pages_num }}">last &raquo;</a>
    </span>
</div>

</body>
</html>