<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load django_bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<form method="get">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="q">Search for Packages</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="q" name="q" placeholder="your search ...">
    </div>
</form>

{% if page_obj %}
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Version</th>
      <th scope="col">Description</th>
      <th scope="col">Author</th>
      <th scope="col">Maintainer</th>
    </tr>
  </thead>
  <tbody>
   {% for package in page_obj %}
    <tr>
      <td>{{ package.title }}</td>
      <td>{{ package.version }}</td>
      <td>{{ package.description }}</td>
      <td>{{ package.author_name }}</td>
      <td>{{ package.author_email }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    <p>No packages found.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

</body>
</html>